h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-semibold;
}
h1 {
    @apply text-4xl mb-1;
}
h2 {
    @apply text-3xl mb-1 mt-7;
}
h3 {
    @apply text-xl mb-1 mt-3;
}

code::before,
code::after {
    display: none;
}

code {
    @apply p-1 bg-zinc-200/80 font-mono rounded-md dark:bg-neutral-800;
}
main :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)){
    @apply font-medium;
}
a {
    @apply text-sm md:text-base tracking-tight md:tracking-normal;
}
.astro-code {
    overflow-x: auto;
}

.astro-code > code {
    width: 100%;
    background: none;
    background-color: transparent;
    display: block;
    min-width: max-content;
}

.astro-code > code > span {
    display: inline-block;
    width: 100%;
    min-width: max-content;
}
strong {
    @apply font-semibold;
}

li,
p,
span,
button {
    @apply text-sm md:text-base text-zinc-800 text-pretty md:text-justify dark:text-neutral-400 tracking-tight font-normal leading-snug md:leading-normal;
}

.copy-code-button {
    @apply bg-stone-400 dark:bg-neutral-950 text-white dark:text-white opacity-100 top-1;
}
button .code-normal {
    @apply text-stone-600 dark:text-stone-100;
}
button .code-copied {
    @apply text-stone-200 dark:text-stone-600;
}

::selection {
    background-color: rgb(197, 196, 196);
    color: #000000;
}
.dark ::selection {
    background-color: #434141;
    color: #ffffff;
}

.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.toc-active {
    @apply dark:text-white text-black;
}
.toc-container {
    text-decoration: none;
    list-style: none;
}
.toc-link {
    list-style: none;
    text-decoration: none !important;
}

/* ANIMATE */
.animate {
    @apply opacity-0 translate-y-3;
    @apply transition-all duration-700 ease-out;
}

.animate.show {
    @apply opacity-100 translate-y-0;
}
