---
import ProjectShowcase from "./project-showcase.astro";
import ContactFooter from "./ui/ContactFooter.astro";
import Footer from "./ui/Footer.astro";
---

<div id="container">
    <article class="animate show">
        <h3 id="-hii-i-am-lakshman-shankar">👋 Hii, I am</h3>
        <h1 class="gradient-red font-extrabold text-transparent">Lakshmanshankar</h1>
        <h4 class="mb-0 mt-3">Full stack developer</h4>
        <p class="mt-0">
            I am working as a full stack developer@codevantage, works in website builder that use
            notion as cms
        </p>

        <h3>About</h3>
        <p>
            I am a <strong>Full stack developer</strong> deeply immersed in web technologies, and my
            coding journey began amidst the COVID lockdown in <code>2020</code>. Starting with <strong
                >Python</strong
            >, I later ventured into web technologies during my second year of college. However, it
            was my fascination with <strong>Operating Systems</strong> and <strong
                >Cloud Computing</strong
            > that truly intrigued me, revealing the intricacies of deploying and maintaining apps at
            scale.
        </p>
        <p>
            With a solid understanding of programming languages like <strong>Typescript</strong>, <strong
                >Python</strong
            >, and <strong>C++</strong>, my programming skills and proficiency in data structures
            and algorithms have helped me tackle over <code>450 LeetCode problems</code>. This
            experience has provided me with diverse perspectives and refined my problem-solving
            skills.
        </p>
        <p>
            started using Linux in January <code>2022</code>; It’s almost <code>2.5 years</code> into
            that and I enjoyed everything about Linux. I began with vim and moved to neovim, and my <a
                href="https://github.com/Lakshmanshankar/dotfiles">dotfiles</a
            > repository had grown a lot since then. I love the awesome command line tools which make
            my developer workflow a breeze to work with. And I love <strong
                >dark color schemes with gradient texts</strong
            >; you can see them in all my works.
        </p>
        <p>
            Currently, I’m focused on enhancing my skills in <strong>web technologies</strong> and deepening
            my understanding of data structures. For further details, here’s a link to my <a
                href="https://lakshmanshankar.vercel.app/resume.pdf">resume</a
            >
        </p>
    </article>

    <section>
        <ProjectShowcase obeyCount={true} />
    </section>
    <section>
        <h3>Contact</h3>
        <p>
            You can contact me directly @<a href="mailto:lakshmanshankarc@gmail.com"
                >lakshmanshankarc@gmail.com</a
            > or you can reach me on any of the following platforms:
        </p>
        <div class="text-white dark:text-white">
            <ContactFooter />
        </div>
    </section>

    <Footer />
</div>
