---
import Layout from "@/layouts/Layout.astro";
import { WORK } from "@/consts";
import WorkExp from "@/components/work-exp.astro";
---

<Layout title={WORK.TITLE} description={WORK.DESCRIPTION}>
    <p class="mt-4 mb-1">This is my project section and its fine</p>
    <div class="">
        <WorkExp />
    </div>
</Layout>
