---
import type { CollectionEntry } from "astro:content";
import BlogPostCard from "./BlogPostCard.astro";

interface Props {
    year: string;
    posts: CollectionEntry<"blog">[];
}

const { year, posts } = Astro.props;
---

<>
    <section class="mt-6 first:mt-0" data-year-group={year}>
        {
            posts.length >= 1 && (
                <div class="pb-1">
                    <h2 class="m-0 text-lg font-semibold tracking-normal text-stone-950 dark:text-neutral-100">
                        {year}
                    </h2>
                </div>
            )
        }
        <ul class="list-none m-0 flex flex-col gap-0 transition-all p-0">
            {posts.map((post) => <BlogPostCard post={post} year={year} />)}
        </ul>
    </section>
</>
