<nav class="flex justify-between items-center space-y-1 mb-4">
    <a href="/" class="no-underline font-semibold">Home</a>

    <div>
        <a href="/blog">
            <span>Blog</span>
        </a>
        <!-- <a href="/about">About</a> -->
    </div>
</nav>
